@import 'fn';
$baseFontSize: 14px;
$medium: 500;
$tn: 0.2s;

$c3: #333;
$c6: #666;
$c9: #999;
$baseFontColor: #465d77;

$primaryColor: #1677ff;
$danger: #d51616;
$baseBackgroundColor: #f2f5fa;

$borderColor: #94a1b2;
$border: 1px solid $borderColor;
