:where(button, [type='button'], [type='reset'], [type='submit']).ant-btn-primary {
  background-color: #1677ff;
}

.ant-descriptions-view tbody > tr {
  &:last-child > td {
    padding-bottom: 0;
  }

  > td {
    .ant-typography {
      margin-bottom: 0;
    }
  }
}

div:where(.css-dev-only-do-not-override-1xg9z9n).ant-typography,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-typography p {
  margin-bottom: 0;
}

.contract-2 .ant-list-items {
  max-height: calc(100vh - 590px);
  overflow: auto;
}
