:where(button, [type='button'], [type='reset'], [type='submit']).ant-btn-primary {
  background-color: #1677ff;
}

img {
  display: inline;
}

#root {
  min-width: 1200px;
  margin: 0 auto;
}

.color-primary {
  color: $primaryColor;
}

.container {
  position: relative;
  top: 5vh;
  z-index: 1;
  height: 90vh;
  min-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  background-color: hsl(0deg 0% 100% / 60%);
}
