:where(button, [type='button'], [type='reset'], [type='submit']).ant-btn-primary {
  background-color: #1677ff;
}

img {
  display: inline;
}

#root {
  width: 1200px;
  margin: 0 auto;
}

.container {
  position: relative;
  top: 5vh;
  z-index: 1;
  height: 90vh;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.8;
}
