#wallet-main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'baseInfo baseInfo'
    'transaction .';

  :global(> .basic-info-section) {
    grid-area: baseInfo;
  }

  :global(> .transaction-section) {
    grid-area: transaction;
  }
}
